NEXT_PUBLIC_HUB_RPC_URL=https://westend-asset-hub-eth-rpc.polkadot.io
NEXT_PUBLIC_HUB_ADDRESS=0x...
NEXT_PUBLIC_ASSET_ADDRESS=0x...
NEXT_PUBLIC_VAULT_A_ADDRESS=0x...
NEXT_PUBLIC_VAULT_B_ADDRESS=0x...
